<!DOCTYPE html>
<html>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="javascripts/products.js"></script>
    <script type="text/javascript" src="javascripts/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="top-line">
        FREE U.S. SHIPPING & RETURNS<span>|</span>3 COMPLIMENTARY SAMPLES WITH EVERY ORDER
      </div>
      <div class="menu">
	<div class="menu-items">
          <div class="logo">
	    <img src="https://tatchaassets.com/tatcha/images/static/5bbf8d.tatcha@2x.png" class="" alt="Logo" height="26" width="156"/>
	  </div>

	</div>
      </div>
      <div class="breadcrams">
	<div class="breadcram">
          HOME<span class="separator">/</span>SHOP<span class="separator">/</span><span class="selected">TATCHA INTERVIEW PROJECT</span>
	</div>
      </div>
    </header>

    <!-- contents -->
    <div class="contents">
      <div class="title">TATCHA INTERVIEW PROJECT</div>
      <div class="product-list"></div>
    </div>

    <!-- footer -->
    <footer></footer>

    <!-- Template for an product -->
    <script id="template-product" type="text/template">
      <div class="product">
        <div class="image">
          <img src="<%= image_url %>" class="" alt="" />
        </div>
        <div class="name"><%= name %></div>
      </div>
    </script>
  </body>
</html>
