<!DOCTYPE html>
<html>
  <head>
    <title>TATCHA INTERVIEW PROJECT</title>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="javascripts/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-toggle.min.js"></script>
    <!-- build:js javascripts/products.min.js -->
    <script type="text/javascript" src="javascripts/products.js"></script>
    <!-- /build -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/bootstrap-toggle.min.css" type="text/css" media="screen" />
    <!-- build:css css/style.min.css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <!-- /build -->
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="top-line">
        FREE U.S. SHIPPING & RETURNS<span>|</span>3 COMPLIMENTARY SAMPLES WITH EVERY ORDER
      </div>
      <div class="menu">
        <div class="menu-items container">
          <div class="logo">
            <img src="https://tatchaassets.com/tatcha/images/static/5bbf8d.tatcha@2x.png" class="" alt="Logo" height="26" width="156"/>
          </div>

        </div>
      </div>
      <div class="breadcrumbs">
        <ol class="breadcrumb container">
          <li>HOME</li>
          <li>SHOP</li>
          <li><b>TATCHA INTERVIEW PROJECT</b></li>
        </ol>
      </div>

    </header>

    <!-- contents -->
    <div class="contents container">
      <div class="title">TATCHA INTERVIEW PROJECT</div>

      <div class="form-inline">
        <div class="form-group">
          <label for="item-count">Show </label>
          <select class="form-control amount">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>


        <ul class="pagination"></ul>

        <input type="checkbox" checked data-toggle='toggle'
                                       data-on="<i class='glyphicon glyphicon-th'></i>"
                                       data-off="<i class='glyphicon glyphicon-th-list'</i>"
                                       data-onstyle="default"
                                       data-offstyle="default"/>
      </div>
      <div class="product-list"></div>
    </div>

    <!-- footer -->
    <footer></footer>

    <!-- Template for an product -->
    <script id="template-product" type="text/template">
      <div class="product">
        <div class="image">
          <img src="<%= image_url %>" class="" alt="" />
        </div>
        <div class="name"><%= name %></div>
      </div>
    </script>

    <script  id="template-pagination" type="text/template">
      <li class='page page<%= page %>'><a href="#"><%= page %></a></li>
    </script>
  </body>
</html>
